<body class="signin-page">
<header>
<a href="#" class="brand-logo"><img src="/assets/edlore-logo.png"/></a>
	<div class="singin-btn-section float-R">
		<input type="button" class="signin" value="Sign In">
	</div>
</header>
<img src="assets/Edlore_banner.jpg"/>
