<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Edlore , <%= @user.email %></h1>
    <p>
      your Job ID: <%= @job.id %><br>
    </p>
    <p>We are working on it ,will send some other details soon</p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>