      <div class="thank-page-cnt">
        <div class="sucess-msg">
          <h2>Congrats! </h2>
          <p>
            Thank you for your payment. Your transaction has been completed, and a receipt for your purchase has been emailed to you. .
          </p>
        </div>
    <a href="/dashboards" class="backbtn">Back to main page</a>
      </div>
  